<div
  class="flex gap-4 items-center bg-gray-700 text-white p-4 rounded-2xl w-4/5"
>
  <img
    src="src/assets/HabitCommit_icon.png"
    alt="Habit Commit"
    class="w-32 h-32 rounded-2xl"
  />
  <div>
    <h2>Habit Commit (2025)</h2>
    <p>
      Habit Commit je aplikace, která vám pomůže se zapisováním a sledováním
      návyků.
    </p>

    <p>Byla vytvořena pomocí Flutter frameworku.</p>
  </div>
</div>
