---
import "../styles/global.css";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{Astro.props.title || "Jan Nosek - Web & Mobile Developer"}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    class="bg-slate-950 text-white font-outfit antialiased selection:bg-indigo-500 selection:text-white"
  >
    <div
      class="fixed inset-0 -z-10 h-full w-full items-center px-5 py-24 [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)]"
    >
    </div>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --font-outfit: "Outfit", sans-serif;
  }

  html {
    font-family: var(--font-outfit);
  }
</style>
